@import '../../configs/style/variable.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 2rem;
    font-weight: 600;
    color: $colorFontSecondary;
    border-bottom: 1px solid $colorFontPrimary;
    background-image: -o-radial-gradient(
        10% 20%,
        circle farthest-corner,
        $secondaryThemeColor 0%,
        $primaryThemeColor 90%
    );
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        $secondaryThemeColor 0%,
        $primaryThemeColor 90%
    );
}
