@import './variable.scss';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: $pageFont;
    font-weight: 400;
    font-style: normal;
    background: $backgroundColor;
    color: $colorFontPrimary;
}

a,
i {
    color: $primaryThemeColor;

    &:link,
    &:visited,
    &:active {
        color: $primaryThemeColor;
    }

    &:hover,
    &.active {
        color: $secondaryThemeColor;
    }
}

code {
    font-family: $numberFont;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
    -webkit-transition: background-color 5000s ease-in-out 0s;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}
