@import url('https://fonts.googleapis.com/css?family=Nova+Flat:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,900&display=swap');

$titleFont: 'Nova Flat', Tahoma, cursive;
$pageFont: 'Open Sans', Tahoma, sans-serif;
$numberFont: 'Source Code Pro', monospace;

$primaryThemeColor: #226383;
$secondaryThemeColor: #2ad7b8;
$backgroundColor: #fafafa;

$colorFontPrimary: #333;
$colorFontSecondary: #f5f5f5;
