@import '../../../configs/style/variable.scss';

.list-item {
    height: 80px;
    font-size: 1.2rem;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &.title {
        height: 50px;
        font-weight: 600;
        margin: 5px 0;
        background-color: darken($backgroundColor, 10%);
    }

    .item-col {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        &.id {
            //
        }

        &.status {
            &.active {
                color: $secondaryThemeColor;
            }

            &.completed {
                color: $primaryThemeColor;
            }

            &.new {
                color: purple;
            }
        }

        &.chevron {
            width: 50px;
            padding: 25px 10px;
        }
    }

    @media (max-width: 991px) {
        height: 120px;
    }
}
